/* CSS Style */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkmagenta;
  }

.header {
  padding: 0px;
  margin: 20px;
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 10px;
  /*border: 1px solid black;*/
}

/* Left and right column */
.column.right {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  justify-content:center;
}

/* Middle column */
.column.left {
 -webkit-flex: 2;
 -ms-flex: 2;
 flex: 3;
}

/* Style the footer */
.footer {
  background-color: darkorchid;
  position: fixed;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  /*background-color: dodgerblue;*/
  padding: 10px;
  text-align:center;
  margin-top: auto;
  font-size: 20px;
}

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.card{
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
  justify-content: center;
  text-align: center;
  background-color: orange;
  border: 2px solid black;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  transition: 0.3s;
  width: 25%;
  min-width: 200px;
  height: 200px;
}

  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.3);
  }
  
  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
  }

/*Form Overlay Style*/

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#form-container {
  background-color: darkmagenta;
  width: 50%;
  border: 5px solid black;
  border-radius: 20px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#form-h2 {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Style the input container */
.input-container {
  display: flex;
  margin: auto;
  width: 50%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 5px;
  background: dodgerblue;
  color: white;
  justify-content: center;
  align-content: center;
}

/* Style the input fields */
.input-field {
  top:50%;
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.btn {
  margin: 20px;
  cursor: pointer;
  padding: 15px 20px;
  margin: 10px;
  color: white;
  border: none;
  opacity: 0.9;
  border-radius: 10px;
  border: 1px solid black;
}

.btn:hover {
  opacity: 1;
}

#new-btn {
  background-color: orange;
  width: 300px;
}

/* Set a style for the submit button */
#add-btn-form {
  background-color: dodgerblue;
  width: 50%;
}

/* Set a style for the cancel button */
#cancel-btn-form {
  background-color: orangered;
  width: 50%;
}

.link {
  cursor: pointer;
}
